<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card mb-2" style="width:800px;margin-left:220px;margin-top:50px">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h5 class="mb-0">Add Category</h5>
    </div>
    <div class="card-body">
        <form method="POST" action="{% url 'updatedoctor' dataid=data.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Category</label>
                <select class="form-control" name="department" value="{{data.Department}}">
                    <option>Select Category</option>
                    {% for d in da %}
                    <option>{{d.Name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label" for="basic-default-fullname">Doctor Name</label>
                <input type="text" class="form-control" id="basic-default-fullname" placeholder="Doctor Name"
                       name="doctor" value="{{data.Name}}">
            </div>


            <div class="mb-3">
                <label class="form-label" for="basic-default-company">Description</label>
                <input type="text" class="form-control" id="basic-default-company" name="qualification"
                       value="{{data.Qualification}}">
            </div>
            <div class="mb-3">
                <div class="form-label">
                    <label class="form-label">Upload Doctor Image:</label>
                    <input type="file" class="form-label" placeholder="Upload Category Image" name="image">
                    <img src="{{data.Image.url}}" height="200px" width="200px">

                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>
{% endblock %}